**/node_modules/
.DS_Store
**/.history
src/tmp/
.routify
.netlify
assets/img/
assets/mail
assets/m2330.html
assets/pm_list.json
dist/
!dist/
dist/*
!dist/index.html
!dist/build
!dist/img
dist/img/mail
.vercel
src/pages/example
python_server/.idea
python_server/all_tag_list.json
python_server/output/
assets/mail_body_dict.json
assets/pm_list.json
*.pyc
