**/node_modules/
.DS_Store
**/.history
src/tmp/
.routify
.netlify
assets/
assets/pm_list.json
.vercel
src/pages/example
python_server/.idea
python_server/all_tag_list.json
python_server/output/
*.pyc
dist/*
!dist/index.html
!dist/build
!dist/img
dist/img/mail
dist/build/*.map
assets/pm_list.json
*.ipynb
cypress/examples
*.jpg:Zone.Identifier
